@use '../base/variables' as v;
@use '../base/mixins' as m;

.text-ingresarUsuario{
     display: grid;
     grid-template-columns:2fr 1fr;
     gap: 5rem;
     align-items: center;
     
     background-color: v.$whiteblue;
     border-radius: 1rem;
     padding: 2rem;
     margin-top: 2rem;
     border-bottom: 1px solid v.$gris;
     margin-bottom: 3rem;
     
     -webkit-box-shadow: 0px 2px 55px 0px rgba(0,0,0,0.10);
     -moz-box-shadow: 0px 2px 55px 0px rgba(0,0,0,0.10);
     box-shadow: 0px 2px 55px 0px rgba(0,0,0,0.10);
}

.encriptarTexto{
     margin: 0;
     padding: 0;
     text-transform: uppercase;
     font-weight: bold;
}

.text-ingresarUsuario h2,h3{
     margin: 0;
     text-align: left;
}


textarea{
     font-size: 4rem;
     border-bottom: 1px solid v.$gris;
}



.btnGeneral{
     display: flex;
     align-items: center;
     justify-content: space-around;
     gap: 5rem;

}

input{
     border: none;
     background-color: v.$white;
     padding: 2rem;
     border-radius: 1rem;
     font-weight: bold;
     text-transform: uppercase;
     transition: 1s ease-out;
     border: v.$gris .2px solid;
     cursor: pointer;
     margin-top: 2rem;
     width: 100%;
}

input:hover{
     transform: scale(.9);
     background-color: v.$whiteblue;
}


